@font-face {
    font-family: 'Magnolia Italic';
    src: url('/static/fonts/magnolia_italic.woff2') format('woff2'),
         url('/static/fonts/magnolia_italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}


/* Использование шрифта на всем сайте */
body {
    font-family: 'Magnolia Italic', Arial, sans-serif;
}

/* Использование шрифта в отдельных элементах */
h1, p {
    font-family: 'Magnolia Italic', cursive;
}
